body {
  margin: 0;
  padding: 0;
  background: #ffe;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #231f20;
  overflow: auto;
}
a {
  color: #000;
  font-size: 14px;
}
#main {
  width: 100%;
}
#wrap {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  height: 680px;
  margin-top: 10px;
}
#names {
  font-family: "Tangerine", serif;
  font-size: 48px;
  position: absolute;
  left: 20px;
  top: 20px;
  opacity: 0;
  transition: all 1s ease-in-out;
}
#text {
  width: fit-content;
  top: 80px;
  position: absolute;
}

#loveyou {
  margin-top: 20px;
  font-size: 30px;
}

#code {
  display: none;
  font-size: 16px;
}

#roots {
  position: absolute;
  left: 10px;
  top: 590px;
  display: none;
  opacity: 0;
  transition: all 1s ease-in-out;
  font-size: 20px;
}

#clock {
  position: absolute;
  left: 10px;
  top: 620px;
  display: none;
  opacity: 0;
  transition: all 1s ease-in-out;
  font-size: 24px;
}
#clock .digit {
  font-size: 32px;
}
#canvas {
  margin: 0 auto;
  width: 1100px;
  height: 680px;
}
#error {
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  display: none;
}
.hand {
  cursor: pointer;
}
.say {
  margin-left: 5px;
  font-family: "Rubik", sans-serif;
  font-style: italic;
  font-size: 16px;
}

.space {
  margin-right: 150px;
}
